{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario Punto Estudiantiles</title>
    {% tailwind_css %}
</head>
<body>
    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-bold mb-4">Listado de TNEs</h2>
        <div class="mb-4">
            <label for="search_rut" class="mr-2 text-sm font-bold uppercase">Buscar por RUT:</label>
            <input type="text" id="search_rut" onkeyup="filterRUT()" placeholder="Buscar RUT..." class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-yellow-500">
        </div>
        
        
    
        

        <!-- Tabla de TNEs -->
        <table id="myTable" class="table-auto text-left border-collapse w-full" style="background-color: #1C1B1F;">
            <thead>
                <tr>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">RUT</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Nombre</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Apellido</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Estado</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Email</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Condición</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Código</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Fecha de Llegada</th>
                    <th class="py-4 px-6 font-bold uppercase text-white text-sm border-b align-middle">Fecha de Entrega</th>
                </tr>
            </thead>
            <tbody>
                {% for tnes in TNE %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-100{% else %}bg-white{% endif %}">
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.rut }}</td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.nombre }}</td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.apellido }}</td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">
                            {% if tnes.estado %}
                                Pendiente
                            {% else %}
                                Entregado
                            {% endif %}
                        </td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.email }}</td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">
                            {% if tnes.condicion == "None" %}
                                No Acredita
                            {% elif not tnes.condicion %}
                                Vacio
                            {% else %}
                                {{ tnes.condicion }}
                            {% endif %}
                        </td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">
                            {% if not tnes.codigo == "None" %}
                                Vacio
                            {% else %}
                                {{ tnes.codigo }}
                            {% endif %}
                        </td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.fecha_llegada|date:"d/m/Y" }}</td>
                        <td class="py-4 px-6 border-b border-gray-400 align-middle">{{ tnes.fecha_entrega|date:"d/m/Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function filterRUT() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_rut");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable"); // Asegúrate de asignar este id a tu tabla
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0]; // Asume que RUT está en la primera columna
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }       
            }
        }
        </script>
    
</body>
</html> 